* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.card-container {
    display: flex;
    gap: 20px;
    width: 90%;
    margin: 30px auto ;
}

.card {
    padding: 30px;
    background: rgb(218, 206, 159);
    border-radius: 15px;
    width: 24%;
}